.keyboard-outline {
	outline-style: solid !important;
	outline-width: 2px !important;
	-webkit-transition: none !important;
	transition: none !important;
}
button:active.keyboard-outline,
button:focus.keyboard-outline,
input:active.keyboard-outline,
input:focus.keyboard-outline,
a[role="tab"].keyboard-outline {
	outline-offset: -5px;
}
.et-search-form input:focus.keyboard-outline {
	padding-left: 15px;
	padding-right: 15px;
}
.et_pb_tab {
	-webkit-animation: none !important;
	animation: none !important;
}

